*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  padding: 0;
  margin:0;
  background:#CCCCCC;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* facebook css and (a) comon css part */
a{
  font-family: roboto slab;
  font-size: 20px;
  color:#000;
  background:#fff;
  padding: 15px 30px;
  transform: rotate(-15deg)skew(25deg,-5deg);
  box-shadow: -12px 12px 15px rgba(0,0,0,.5);
  position: relative;
  transition: .2s ;
  margin-right: 65px;
}

a:before{
  position: absolute;
  content: "";
  width: 10px;
  height: 100%;
  background: #b1b1b1;
  top:5px;
  left:-10px;
  transform: rotate(0deg) skewY(-45deg);
}
a:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  background: #b1b1b1;
  bottom:-10px;
  left:-5px;
  transform: rotate(0deg) skewX(-45deg);
}
a:hover{
transform: rotate(-15deg)skew(25deg,-5deg)  translate(10px, -20px);
box-shadow: -30px 30px 30px rgba(0,0,0,.5);
background-color: #3b5998;
color: #fff;
font-size: 22px;
}
a:hover::before, a:hover::after {
  background-color: #506ca7;
}

/* instargram css part */
a:nth-child(2):hover{
  background: linear-gradient(-90deg,#7D3CB1,#F90004,#FACD04);
  color: #fff;
}
a:nth-child(2):hover:before,a:nth-child(2):hover:after{
  background:#7D3CB1; 
}

/* Whatsapp css part */
a:nth-child(3):hover{
  background: #41D35C;
  color: #fff;
}
a:nth-child(3):hover:before,a:nth-child(3):hover:after{
  background:#47C15E; 
}

/* youtube css part */
a:nth-child(4){
   margin-right: 0px;
}
a:nth-child(4):hover{
  background: #FF0000;
  color: #fff;
  
}
a:nth-child(4):hover:before,a:nth-child(4):hover:after{
  background:#D82524; 
}
